  <nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Handlom</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        
	      </ul>
	  
	      <ul class="nav navbar-nav navbar-right">
	      <li class="active"><a href="#/categorias">Categorias</a></li>
	        <li><a href="#/usuarios">Usuarios</a></li>
	        <li><a href="">Inicio</a></li>
	        <li class="dropdown">
	          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mi perfil <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href=">Action</a></li>
	            <li><a href="">Editar Perfil</a></li>
	            <li><a ng-click="logoutUser()" href="">Cerrar sesión</a></li>
	            <li role="separator" class="divider"></li>

	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
  </nav>
	  <div class="container">
	  	<h2>Registro de Solicitud</h2><br>

	  </div>

  <div class="container">
	<div class="row" >  
		<br><br>          
	    <div class="col-lg-3 col-sm-3 col-md-3">
		    <form style="width:100%;">
		    
		    <div class="form-group">
		      <label for="exampleInputPassword1">Descripción del HEADER</label>
		      <textarea ng-model="objPlantilla.descripcion" class="form-control" ></textarea><br>
		      <label class="btn btn-default btn-file">
		      	<span class="glyphicon glyphicon-open-file"></span>
			    Seleccionar Imagenes<input type="file" style="display: none;" ng-model="objPlantilla.imgPrev" multiple>
			  </label>
		      <p class="help-block">Formatos aceptados: jpg, png</p>
		    </div>
		    <div class="form-group">		      
		      <label for="exampleInputPassword1">Descripción del BODY</label>
		      <textarea ng-model="objPlantilla.descripcion" class="form-control" ></textarea><br>
		      <label class="btn btn-default btn-file">
			    <span class="glyphicon glyphicon-open-file"></span>
			    Seleccionar Imagenes<input type="file" style="display: none;" ng-model="objPlantilla.imgPrev" multiple>
			  </label>
		      <p class="help-block">Formatos aceptados: jpg, png</p>
		    </div>
		    <div class="form-group">		   	  
		      <label for="exampleInputPassword1">Descripción del FOOTER</label>
		      <textarea ng-model="objPlantilla.descripcion" class="form-control" ></textarea><br>
		      <label class="btn btn-default btn-file">
			    <span class="glyphicon glyphicon-open-file"></span>
			    Seleccionar Imagenes<input type="file" style="display: none;" ng-model="objPlantilla.imgPrev" multiple>
			  </label>      
		      <p class="help-block">Formatos aceptados: jpg, png</p>
		    </div>
		      
		  </form>
		  <center>
			  <button type="" ng-click="agregarPlantilla(objPlantilla)" class="btn btn-default">Agregar</button>
			  <button type="" ng-click="actualizarPlantilla(objPlantilla)" class="btn btn-default">Editar</button>
			  <button type="" ng-click="cancelarForm()" class="btn btn-default">Cancelar</button>
		  </center>
		</div>	
		<div class="col-lg-5 col-sm-5 col-md-5">
		<br>
			<img style="width:100%;" src="img/pantalla.png">
		</div>	
		<div class="col-lg-4 col-sm-4 col-md-4">
			<img style="width:100%;" src="img/celular.png">
		</div>
	</div> 
  </div>
